APP_NAME="نظام إدارة الفروع"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=ar
APP_FALLBACK_LOCALE=ar
APP_TIMEZONE=Asia/Riyadh

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=retail_manager
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

MAIL_MAILER=log
